{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'blog/reset.css' %}">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <header class="blog-header">
        <div class="container">
        <nav>
            <ul class="navigation">
                <li>
                    <div class="logo" style="background: url({%static 'blog/images/logo.png'%}) no-repeat center/cover"></div> 
                </li>
                <li>
                    <a href="#">ГЛАВНАЯ</a>
                </li>
                <li>
                    <a href="blog.html" class = "current_page" style="color: #ff7474;">БЛОГ</a>
                </li>
                <li>
                    <a href="#">О НАС</a>
                </li>
                <li>
                    <div class="switch_colormode">
                        <input type="checkbox" class='switch_mode' id="smode">
                    </div>
                </li>
                <li>
                    <form class = 'search_posts' action="">
                        <input type="search" class = "search_input" placeholder="Поиск по записям...">
                        <button class = "search_button" name = '' type="submit">
                            <i class="fa fa-search" id='changecolorbut'></i>
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
        </div>
     </header>
    <div class="container">
        <!-- Сетка постов -->
         <div class="post_grid" style="    grid-template-columns: repeat(4,300px)">
            {% for post in page_obj %}
            <div class="post_published" id="post_">
                <div class="post-image" style="background: url('{{post.image.url}}') lightgray 50% / cover no-repeat;">
                </div>
                <div class="post_title">
                    <h1>{{post.title}}</h1>
                </div>
                <div class="post-body">
                    <h2>{{post.body}}</h2>
                </div>
                <div class="post-footer" >
                    {{post.created}}
                </div>
            </div>

            {% endfor %}
         </div>

         {% include 'blog/paginator.html' %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{%static 'blog/script.js' %}"></script>
</body>
</html>