<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <ul class="paginator">
            {% for page_num in paginator.page_range %}
            {% if page_obj.number == page_num %}
            <li>
                {{page_num}}
            </li>
            {% else %}
            <li>
                <a href="?page={{page_num}}">{{page_num}}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
</body>
</html>